* {
  font-family: "Poppins", "Paytone One", "Pacifico", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Nav-bar started */
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
#icon-logo {
  width: 38px;
}

#brand-name {
  font-family: "Paytone One", sans-serif;
  color: #39301f;
}

.n-link {
  color: #39301f;
  font-family: "Paytone One", sans-serif;
  text-decoration: none;
}
.link-bundle {
  display: flex;
  align-items: center;
  gap: 35px;
}
.icon-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.r-btn {
  background-color: #df2614;
  color: white;
  border-radius: 50px;
  font-family: "Paytone One", sans-serif;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
.navbar {
  background-color: #efe8d9;
  display: flex;
  align-items: center;
  padding: 25px 20px;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  position: fixed;
  z-index: 11;
}

/* Nav-bar ended */
/* Hero Section Started */

.hero-bg {
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 215px;
  gap: 25px;
}
.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-box h1 {
  font-size: 120px;
  color: white;
}
.title-box h3 {
  font-size: 24px;
  color: #df2614;
}
.hero-txt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero-img {
  position: relative;
  width: 34%;
  animation: rotation 15s linear 0ms infinite;
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
.hero-img-container {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.sub-1 {
  position: absolute;
  width: 12%;
  align-self: flex-end;
  bottom: 120px;
}
.sub-2 {
  position: absolute;
  width: 18%;
  align-self: flex-end;
  bottom: 150px;
  right: 50px;
}
.sub-3 {
  position: absolute;
  width: 35%;
  bottom: 170px;
}
.sub-4 {
  position: absolute;
  width: 70%;
  align-self: flex-start;
  bottom: 125px;
  
}
.himg-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero-img-sub {
  position: relative;
  animation: Up-Down 1.2s ease-in-out 1ms infinite alternate;
}
@keyframes Up-Down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
 .offer {
        width: 100%;
         margin: 0 auto;
        height: auto;
        overflow: hidden;
        position: relative;
      }
      .offer-cards {
        display: flex; /* Width = (number of total cards / cards visible at once) * 100% */
        width: 500%;
        align-items: center;
        animation: moveSlideshow 55s linear infinite;
      }

      .card {
        border: 3px solid red;
        width: 100%;
        margin: 0 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        background-color: white;
        border-radius: 25px;
        padding: 20px 50px;
      }

      @keyframes moveSlideshow {
        100% {
          transform: translateX(-66.6666%);
        }
      }

.offer:hover .offer-cards {
  animation-play-state: paused;
}

.card-txt h4 {
      font-size: 20px;
      color: #df2614;
}
.card-txt h2{
   color: #373B40;
}
.card-txt p{
  color: #818080;
}
.card-txt .dollar{
  font-weight: 700;
  font-size: 28px;
  color:#df2614;
}
.pp-container{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width:30%;
  height: 100%;
  background-color:#E7E0D2;
  border-radius: 100px;
}
.pp{
  width:50%;
  height:50%;
  padding:5px;
  border-radius: 100px;
}
.pp-1{
   width: 68%;
}
.pp-2{
     width:62%;
}
.pp-5{
    width:68%;
}
.design{
  position: absolute;
  top:30px;
  right: 280px;
  width:5%;
}
.card:hover .design{
      transform: translate3d(50px,-15px,0);
      transition-duration: 1s;
      
}
.card:hover .pp-container{
   transition: 1s;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
/* Hero Section ended */

     